{{template "base" .}}
{{define "title"}}Shopping Cart{{end}}
{{define "body"}}
    <div class="content-container">
        <h1 class="page-title">Add Category</h1>
        <div class="page-block margin-bottom">
            <form enctype="multipart/form-data" action="/categoryAdd" method="post" name="addCategory">
                <div class="input-field">
                    <input type="text" id="categoryName" name="categoryName">
                    <label for="categoryName">Category Name</label>
                </div>
                <div class="input-field">
                    <label for="description" style="position: static">Description</label>
                    <textarea id="description" maxlength="70" name="description"placeholder="Give a short description..."></textarea>
                    <span class="pull-right-description label label-info" id="count_message"></span>
                </div>
                <div class="input-field">
                    <input type="file" name="image">
                </div>
                <input type="button" value="Submit" id="btnsubmit" onclick="submitForm()"><br>
                {{if .Response.Status}}
                    <span class="pull-left-box label label-success">{{.Response.CategoryName}} {{.Response.Status}}</span>
                {{end}}
            </form>
        </div>
    </div>
    <script>
        var text_max = 70;
        $('#count_message').html('0 / ' + text_max );

        $('#description').keyup(function() {
        var text_length = $('#description').val().length;
        var text_remaining = text_max - text_length;
        if (text_length >= 60 && text_length < 70)
        {
            $('#count_message').removeClass('label-info');
            $('#count_message').removeClass('label-danger');
            $('#count_message').addClass('label-warning');
        }
        else if (text_length == 70){
            $('#description').blur();
            $('#description').addClass('text-area-warn');
            $('#count_message').removeClass('label-warning');
            $('#count_message').addClass('label-danger');
        }
        else{
            $('#count_message').removeClass('label-danger');
            $('#count_message').removeClass('label-warning');
            $('#count_message').addClass('label-info');
            $('#description').removeClass('text-area-warn');
        }
        
        $('#count_message').html(text_length + ' / ' + text_max);
        });
        function submitForm(){
            var frm = document.getElementsByName('addCategory')[0];
            frm.submit();
            frm.reset();
        }
    </script>
{{end}}