{{template "base" .}}
{{define "title"}}Blog List{{end}}
{{define "body"}}

	<!-- CONTENT CONTAINER -->
	<div class="content-container">

		<h1 class="page-title">Blog List</h1>

		<!-- Blog List -->
		<ol class="blog-list">
			
			<li><!-- Blog list item #1 -->
				<div class="entry-thumb">
					<img src="../static/images/240x240.png" alt="">
				</div>
				<div class="entry-content">
					<h2>How To Be A Good Reseller at Shofy</h2>
					<div class="entry-meta">
						Feb 12, 2016
					</div>
				</div>
			</li>

			<li><!-- Blog list item #2 -->
				<div class="entry-thumb">
					<div class="no-thumb">
						<i class="fa fa-camera"></i>
					</div>
				</div>
				<div class="entry-content">
					<h2>Amazing! This Product Sold Out Less Than 24 Hour</h2>
					<div class="entry-meta">
						Feb 12, 2016
					</div>
				</div>
			</li><!-- End Blog list item #2 -->

			<li><!-- Blog list item #3 -->
				<div class="entry-thumb">
					<img src="../static/images/240x240.png" alt="">
				</div>
				<div class="entry-content">
					<h2>Testimoni of Our Success Reseller</h2>
					<div class="entry-meta">
						Feb 12, 2016
					</div>
				</div>
			</li><!-- End Blog list item #3 -->

			<li><!-- Blog list item #3 -->
				<div class="entry-thumb">
					<img src="../static/images/240x240.png" alt="">
				</div>
				<div class="entry-content">
					<h2>Discount 10% For All Electronic Product</h2>
					<div class="entry-meta">
						Feb 12, 2016
					</div>
				</div>
			</li><!-- End Blog list item #3 -->

			<li><!-- Blog list item #4 -->
				<div class="entry-thumb">
					<img src="../static/images/240x240.png" alt="">
				</div>
				<div class="entry-content">
					<h2>Road to Shofy 10th Anniversary</h2>
					<div class="entry-meta">
						Feb 12, 2016
					</div>
				</div>
			</li><!-- End Blog list item #4 -->

			<li><!-- Blog list item #5 -->
				<div class="entry-thumb">
					<img src="../static/images/240x240.png" alt="">
				</div>
				<div class="entry-content">
					<h2>Support Shofy in the E-Commerce Award</h2>
					<div class="entry-meta">
						Feb 12, 2016
					</div>
				</div>
			</li><!-- End Blog list item #5 -->

		</ol>
		<!-- End Blog List -->

		<div class="clear"></div><!-- Use this class (.clear) to clearing float -->

		<!-- Pagination -->
		<ul class="pagination">
			<li class="disabled"><a href="#!"><i class="fa fa-angle-double-left"></i></a></li>
			<li class="active"><a href="#!">1</a></li>
			<li><a href="#!">2</a></li>
			<li><a href="#!">3</a></li>
			<li><a href="#!">4</a></li>
			<li><a href="#!">5</a></li>
			<li><a href="#!"><i class="fa fa-angle-double-right"></i></a></li>
		</ul>
		<!-- End Pagination -->

	</div>
	<!-- END CONTENT CONTAINER -->
	
{{end}}