{{template "base" .}}
{{define "title"}} Categories{{end}}
{{define "body"}}
		<!-- CONTENT CONTAINER -->
		<div class="content-container">
			<section>
				<div class="row">
					<div class="col-sm-6" style="padding:0">
						<h1 class="page-title animated fadeIn pull-left" style="margin: 0;padding:10px 0 0 0">All Categories</h1>
					</div>
					<div class="col-sm-6" style="padding:0">
						<button class="featured-btn green pull-right" onclick="document.location='/addCategory'"><i class="fa fa-plus"></i> Add category</button>
					</div>
				</div>
			</section>
			<!-- Category List -->
			<section>
				<ol class="category-list animated fadeLeft">
					{{range .MainCategories}}
						<li>
							<div class="thumb">
								<a href="subCategories?mainCategoryId={{.ID}}&name={{.CategoryName}}">
									<img src="../static/images/{{.Image}}" alt="">
								</a>
							</div>
							<div class="category-ctn">
								<div class="cat-name">
									<a href="subCategories?mainCategoryId={{.ID}}&name={{.CategoryName}}">{{.CategoryName}}</a>
								</div>
								<div class="cat-desc">
									{{.Description}}
								</div>
							</div>
						</li>
					{{end}}
				</ol>
				<!-- End Category List -->

				<div class="clear"></div><!-- Use this class (.clear) to clearing float -->
			</section>
		</div>
		<!-- END CONTENT CONTAINER -->
{{end}}