{{template "base" .}}
{{define "title"}}Shipping{{end}}
{{define "body"}}

	<!-- CONTENT CONTAINER -->
	<div class="content-container">

		<h1 class="page-title">Checkout</h1>
		
		<!-- Checkout process step indicator-->
		<div class="checkout-process">
			<div class="process-step">
				<div class="step-num active">
					1
				</div>
				<div class="step-name">
					Shipping
				</div>
			</div>
			<div class="process-step">
				<div class="step-num">
					2
				</div>
				<div class="step-name">
					Payment
				</div>
			</div>
			<div class="lineconnect"></div>
		</div>
		<!-- End Checkout process-->

		<!-- Summary of total payment payment (Collapsible) -->
		<ul class="collapsible payment-summary" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">
					<span class="fa fa-caret-right"></span>
					<div class="summary-item">
						<span class="desc bold">Payment Total</span>
						<span class="value bold">$ 182.90</span>
					</div>
				</div>
				<div class="collapsible-body">
					<div class="summary-item">
						<span class="desc">Shopping Total</span>
						<span class="value">$ 172.90</span>
					</div>
					<div class="summary-item">
						<span class="desc">Shipping Cost</span>
						<span class="value">$ 182.90</span>
					</div>
					<div class="summary-item">
						<span class="desc">Handling Fee</span>
						<span class="value">Free</span>
					</div>
					<div class="summary-item">
						<span class="desc">Voucher & Promo</span>
						<span class="value">Free</span>
					</div>
				</div>
			</li>
		</ul>
		<!-- END Summary of total payment payment -->

		<!-- Shipping Address Section -->
		<div class="page-block checkout-shipping-block">
			
			<h2 class="block-title">
				<span>Shipping Address</span>
			</h2>

			<p>
				<span class="semibold">Natalie Amyllia</span>
				<a href="#change-address" class="text-small modal-trigger">change (this a modal)</a>
			</p>

			<p>1120 N Street Sacramento 916-654-5266,<br>
			P.O. Box 942873. Sacramento,<br>
			CA 94273-0001. District 1 1656 Union Street</p>
			<span class="semibold block">Shipping note (optional)</span>
			<textarea cols="40" rows="2" name="note"></textarea>

			<!-- Modal Structure -->
			<div id="change-address" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4>Change Address</h4>
					<p>A bunch of text</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close btn-flat ">Save</a>
				</div>
			</div>

		</div>
		<!-- END Shipping Address Section -->

		<!-- Cart Item Summary -->
		<div class="page-block checkout-shipping-block margin-bottom">
			
			<h2 class="block-title">
				<span>Item Summary</span>
			</h2>

			<!-- Cart Item List -->
			<ol class="cart-item">

				<li><!-- Cart Item #1 -->
					<div class="thumb">
						<img src="../static/images/80x80.png" alt="">
					</div>
					<div class="cart-delete">
						<a href="#">
							<i class="fa fa-times"></i>
						</a>
					</div>
					<div class="cart-detail">
						<h3 class="product-name"><a href="/product">Tablet Mini 2</a></h3>
						<div class="price">
							<span>Price</span> $ 472.5
						</div>
						<div class="qty">
							<span>Qty</span> <input type="number" value="1">
						</div>
					</div>
				</li><!-- End Cart Item #1 -->

				<li><!-- Cart Item #2 -->
					<div class="thumb">
						<img src="../static/images/80x80.png" alt="">
					</div>
					<div class="cart-delete">
						<a href="#">
							<i class="fa fa-times"></i>
						</a>
					</div>
					<div class="cart-detail">
						<h3 class="product-name"><a href="/product">Modern Watch</a></h3>
						<div class="price">
							<span>Price</span> $ 260.9
						</div>
						<div class="qty">
							<span>Qty</span> <input type="number" value="1">
						</div>
					</div>
				</li><!-- End Cart Item #2 -->

				<li><!-- Cart Item #3 -->
					<div class="thumb">
						<img src="../static/images/80x80.png" alt="">
					</div>
					<div class="cart-delete">
						<a href="#">
							<i class="fa fa-times"></i>
						</a>
					</div>
					<div class="cart-detail">
						<h3 class="product-name"><a href="/product">Camping Tent</a></h3>
						<div class="price">
							<span>Price</span> $ 102.8
						</div>
						<div class="qty">
							<span>Qty</span> <input type="number" value="1">
						</div>
					</div>
				</li><!-- End Cart Item #3 -->

			</ol>
			<!-- End Cart Item List -->

		</div>
		<!-- END Item Cart Summary -->

		<!-- Shipping Method Section -->
		<div class="page-block checkout-shipping-block margin-bottom">
			
			<h2 class="block-title">
				<span>Choose shipping method</span>
			</h2>

			<ol class="payment-method">
				<li>
					<input name="group1" type="radio" id="test1" />
					<label for="test1">Postal Service</label>
				</li>
				<li>
					<input name="group1" type="radio" id="test3"  />
					<label for="test3">Federal Express</label>
					<span>All Visa and Mastercard</span>
				</li>
				<li>
					<input name="group1" type="radio" id="test5" />
					<label for="test5">Collect from store</label>
				</li>
			</ol>

		</div>
		<!-- END Shipping Method Section -->

		<div class="checkout-shipping-block">
			<button type="button" class="btn green block">Return payment</button>
		</div>

	</div>
	<!-- END CONTENT CONTAINER -->

{{end}}