{{template "base" .}}
{{define "title"}}Styling Guide{{end}}
{{define "body"}}

	<!-- CONTENT CONTAINER -->
	<div class="content-container">

		<h1 class="page-title">Contact</h1>

		<p>
			<address>
				<span class="bold block">Shofy Inc.</span>
				2206 Margasatwa Street, Tower 02
				Kansas, CA 22994<br />
				<abbr title="Phone">P:</abbr> (999) 123-456
			</address>
			<address>
				<span class="semibold block">Natalie Amyllia</span>
				<a href="mailto:#">me@example.com</a>
			</address>
		</p>

		<div class="input-field with-icon">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			<input type="text" name="name" id="name">
			<label for="name">Name</label>
		</div>

		<div class="input-field with-icon">
			<span class="icon">
				<i class="fa fa-envelope"></i>
			</span>
			<input type="text" name="email" id="email">
			<label for="email">Email</label>
		</div>

		<div class="input-field with-icon">
			<span class="icon">
				<i class="fa fa-phone"></i>
			</span>
			<input type="text" id="phone">
			<label for="phone">Phone</label>
		</div>

		<div class="input-field with-icon">
			<span class="icon">
				<i class="fa fa-map-marker"></i>
			</span>
			<input type="text" name="city" id="city">
			<label for="city">City</label>
		</div>

		<div class="input-field with-icon">
			<span class="icon">
				<i class="fa fa-comment"></i>
			</span>
			<textarea name="message" id="message" class="materialize-textarea"></textarea>
			<label for="message">Message</label>
		</div>

		<div class="button-field">
			<button type="button" name="submit" class="btn blue block margin-bottom">Send</button>
		</div>

	</div>
	<!-- END CONTENT CONTAINER -->
		
{{end}}