{{template "base" .}}
{{define "title"}}FAQ{{end}}
{{define "body"}}

	<!-- CONTENT CONTAINER -->
	<div class="content-container">

		<h1 class="page-title">FAQ</h1><!-- Title page -->

		<!-- FAQ -->
		<div class="faq">
				
			<!-- FAQ Lists -->
			<ul class="collapsible" data-collapsible="accordion">
				<li>
					<div class="collapsible-header">What is the shofy template? <span class="fa fa-angle-right"></span></div>
					<div class="collapsible-body">
						<p>Shofy is a mobile shop template, with comprehensive and focused content that usually displayed in a shop/ecommerce web/app. Built in by indentifying the priority of process, how of a transaction in a shop works. Also, what components support, like member/account panel, blog, and another page related.</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header">What the excellences of this template? <span class="fa fa-angle-right"></span></div>
					<div class="collapsible-body">
						<p>Ya, cause its a dedicated template, only for shop/ecommerce only.</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header">How much this template? <span class="fa fa-angle-right"></span></div>
					<div class="collapsible-body">
						<p>You can check on themeforest.</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header">Why this template goods for me? <span class="fa fa-angle-right"></span></div>
					<div class="collapsible-body">
						<p>Because multipurpose template, you must try.</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header">How about support? <span class="fa fa-angle-right"></span></div>
					<div class="collapsible-body">
						<p>Of course.</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header">Where I can find this template? <span class="fa fa-angle-right"></span></div>
					<div class="collapsible-body">
						<p>Lets check on themeforest at HTML mobile category.</p>
					</div>
				</li>
				<li>
					<div class="collapsible-header">Is the documentation available? <span class="fa fa-angle-right"></span></div>
					<div class="collapsible-body">
						<p>Ya sure.</p>
					</div>
				</li>
			</ul>
			<!-- End FAQ Lists -->

		</div>
		<!-- End FAQ -->

	</div>
	<!-- END CONTENT CONTAINER -->
		
{{end}}