{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
	{{template "slider" .}}
	<!-- CONTENT CONTAINER -->
	<div class="content-container animated fadeInUp">
		
		<!-- Top Product Section -->
		<div class="page-block margin-bottom">

			<h2 class="block-title">
				<span>Top Product</span><!-- <span> tag to make blue border on this text only -->
				<a href="#" class="list-all">
					<i class="fa fa-th-list"></i>
				</a>
			</h2>

			<!-- Product Listing Slider -->
			<!--
			Use .top-product class to make blue border on each item
			-->
			<ol class="product-list-slider top-product">
				{{if .Products}}
					{{range .Products}}
						<li>
							<div class="thumb">
								<a href="/product">
									<img src="../static/images/{{.Image}}" alt="">
								</a>
							</div>
							<div class="product-ctn">
								<div class="product-name">
									<a href="/product">
										{{.Name}}
									</a>
								</div>
								<div class="rating">
									<i class="fa fa-star active"></i>
									<i class="fa fa-star active"></i>
									<i class="fa fa-star active"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="price">
									{{if .DiscountedPrice}}
										<span class="price-before">KES {{.ActualPrice}}</span>
										<br><span class="price-current">KES {{.DiscountedPrice}}</span>
									{{else}}
									<br><span class="price-current">KES {{.ActualPrice}}</span>
									{{end}}
								</div>
							</div>
						</li>
					{{end}}
				{{end}}
			</ol>
			<!-- End Product Listing Slider -->

			<!-- Use this class (.clear) to clearing float -->
			<div class="clear"></div>

		</div>
		<!-- End Top Product Section -->

		<!-- Category Section -->	
		<div class="page-block margin-bottom">

			<h2 class="block-title">
				<span>Main Category</span><!-- <span> tag to make blue border on this text only -->
				<a href="#" class="list-all">
					<i class="fa fa-th-list"></i>
				</a>
			</h2>

			<!-- Category Listing -->
			<ol class="category-list">

				{{range .MainCategories}}
					<li>
						<div class="thumb">
							<a href="subCategories?id={{.ID}}&name={{.CategoryName}}">
								<img src="../static/images/{{.Image}}" alt="">
							</a>
						</div>
						<div class="category-ctn">
							<div class="cat-name">
								<a href="subCategories?id={{.ID}}&name={{.CategoryName}}">{{.CategoryName}}</a>
							</div>
							<div class="cat-desc">
								{{.Description}}
							</div>
						</div>
					</li>
				{{end}}

				<!--<li> Category list item #2 
					<div class="thumb">
						<a href="productList">
							<img src="../static/images/automobile240.png" alt="">
						</a>
					</div>
					<div class="category-ctn">
						<div class="cat-name">
							<a href="productList">Automotive Accessories</a>
						</div>
						<div class="cat-desc">
							All car accessories at affordable prices
						</div>
					</div>
				</li> End Category list item #2

				<li>Category list item #3
					<div class="thumb">
						<a href="productList">
							<img src="../static/images/FashionMix240.png" alt="">
						</a>
					</div>
					<div class="category-ctn">
						<div class="cat-name">
							<a href="productList">Fashion</a>
						</div>
						<div class="cat-desc">
							Fullfill your style with only the best item
						</div>
					</div>
				</li> End Category list item #3

				<li> Category list item #4
					<div class="thumb">
						<a href="productList">
							<img src="../static/images/Computer&Laptops240.png" alt="">
						</a>
					</div>
					<div class="category-ctn">
						<div class="cat-name">
							<a href="productList">Computer & Laptop</a>
						</div>
						<div class="cat-desc">
							High quality assistant for your job
						</div>
					</div>
				</li> End Category list item #4 -->

			</ol>

			<div class="clear"></div><!-- Use this class (.clear) to clearing float -->

		</div>
		<!-- End Category Section -->

		<!-- Product (Static) Section -->	
		<div class="page-block">
			
			<h2 class="block-title">
				<span>Coming Soon</span>
				<a href="#" class="list-all">
					<i class="fa fa-th-list"></i>
				</a>
			</h2>

			<ol class="product-list">
				<li>
					<div class="thumb">
						<a href="/product">
							<img src="../static/images/womenFashion240.png" alt="">
						</a>
					</div>
					<div class="product-ctn">
						<div class="product-name">
							<a href="/product">
								Women Clothes
							</a>
						</div>
						<div class="rating">
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="price">
							<!--<span class="price-before">Kes 1,800</span>-->
							<span class="price-current">from KES 1,000</span>
						</div>
					</div>
				</li>
				<li>
					<div class="thumb">
						<a href="/product">
							<img src="../static/images/shades240.png" alt="">
						</a>
					</div>
					<div class="product-ctn">
						<div class="product-name">
							<a href="/product">
								Stylish shades
							</a>
						</div>
						<div class="rating">
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="price">
							<span class="price-current">KES 500</span>
						</div>
					</div>
				</li>
				<li>
					<div class="thumb">
						<a href="/product">
							<img src="../static/images/tent240.png" alt="">
						</a>
					</div>
					<div class="product-ctn">
						<div class="product-name">
							<a href="/product">
								Camping Tent
							</a>
						</div>
						<div class="rating">
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star active"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="price">
							<span class="price-current">KES 15,000</span>
						</div>
					</div>
				</li>
				<li>
					<div class="thumb">
						<a href="/product">
							<img src="../static/images/Hairband240.png" alt="">
						</a>
					</div>
					<div class="product-ctn">
						<div class="product-name">
							<a href="/product">
								Hairbands
							</a>
						</div>
						<div class="rating">
							<i class="fa fa-star active"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="price">
							<span class="price-before">KES 200</span>
							<span class="price-current">KES 180</span>
						</div>
					</div>
				</li>
			</ol>
			
			<div class="clear"></div><!-- Use this class (.clear) to clearing float -->

		</div>
		<!-- End Product (Static) Section -->	

	</div>
	<!-- END CONTENT CONTAINER -->
{{end}}