{{define "leftsidebar"}}
    <!-- LEFT SIDEBAR -->
    <div id="slide-out-left" class="side-nav">
        
        <!-- Form Search -->
        <div class="top-left-nav">
            <div class="searchbar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <!-- End Form Search -->
        
        <!-- App/Site Menu -->
        <div id="main-menu">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="has-sub"><a href="#"><i class="fa fa-th-list"></i> Categories</a>
                    <ul>
                        <li><a href="/categories">All</a></li>
                        {{range .CatDataJSON}}
                        <li class="has-sub"><a href="#">{{.Category}}</a>
                            <ul>
                                {{$Category := .Category}}
                                {{range .SubCategories}}
                                <li><a href="subCategoryProducts?id={{.Id}}&subCategory={{.Name}}&category={{$Category}}">{{.Name}}</a></li>
                                {{end}}
                            </ul>
                        </li>
                        {{end}}
                    </ul>
                </li>
                <!--<li class="has-sub"><a href="#"><i class="fa fa-briefcase"></i> Product</a>
                    <ul>
                        <li><a href="/productList">Product List</a></li>
                        <li><a href="/productSmallList">Product Small List</a></li>
                        <li><a href="/product">Product Detail</a></li>
                    </ul>
                </li>-->
                <li><a href="/cart"><i class="fa fa-shopping-bag"></i> Shopping Cart</a></li>
                <li class="has-sub"><a href="#"><i class="fa fa-shopping-basket"></i> Checkout</a>
                    <ul>
                        <li><a href="/checkoutSign">Sign Method</a></li>
                        <li><a href="/checkoutShipping">Shipping</a></li>
                        <li><a href="/checkoutPayment">Payment</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="#"><i class="fa fa-google-wallet"></i> Order</a>
                    <ul>
                        <li><a href="/confirmPayment">Payment Confirm</a></li>
                        <li><a href="/trackingOrder">Tracking Order</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="#"><i class="fa fa-users"></i> Member</a>
                    <ul>
                        <li><a href="/panelAccount">Panel Account</a></li>
                        <li><a href="/formAccount">Form Account</a></li>
                        <li><a href="/orderHistory">Order History</a></li>
                    </ul>
                </li>
                <!--<li class="has-sub"><a href="#"><i class="fa fa-file-text-o"></i> Blog</a>
                    <ul>
                        <li><a href="/blogList">Blog List</a></li>
                        <li><a href="/blogInside">Blog Inside</a></li>
                    </ul>
                </li>
                <li class="has-sub"><a href="#"><i class="fa fa-file"></i> Pages</a>
                    <ul>
                        <li><a href="/standardPage">Standard Page</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="/stylingGuide">Styling Guide</a></li>
                        <li><a href="/shortcodes">Shortcodes</a></li>
                    </ul>
                </li>-->
                <li><a href="/contact"><i class="fa fa-envelope"></i> Contact</a></li>
            </ul>
        </div>
        <!-- End Site/App Menu -->

    </div>
    <!-- END LEFT SIDEBAR -->
{{end}}