{{template "base" .}}
{{define "title"}}Product List{{end}}
{{define "body"}}
	<!-- CONTENT CONTAINER -->
	<div class="content-container">

		<h1 class="page-title animated fadeIn">Product List</h1>

		<!-- Product navigation -->
		<div class="product-list-navigation animated fadeInRight">
			<div class="product-num">1-24 from 9661 product</div>
			<div class="sorting-nav">
				<span class="label">Sort by</span>
				<div class="sorting-dropdown">
					<select class="browser-default">
						<option value="" selected>Latest</option>
						<option value="">Popular</option>
						<option value="">Cheapest</option>
						<option value="">Most Expensive</option>
						<option value="">High rating</option>
						<option value="">Alphabet A-Z</option>
					</select>
				</div>
			</div>
		</div>
		<!-- End Product navigation -->

		<!-- Product List -->	
		<ol class="product-list animated fadeInLeft">
			
			<li><!-- Item #1 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Tablet Mini 2
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="price">
						<span class="price-before">$ 499.00</span>
						<span class="price-current">$ 472.5</span>
					</div>
				</div>
			</li><!-- End Item #1 -->

			<li><!-- Item #2 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Woman Pants
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="price">
						<span class="price-before">$ 68.00</span>
						<span class="price-current">$ 62.22</span>
					</div>
				</div>
			</li><!-- End Item #2 -->

			<li><!-- Item #3 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Purple Eyeglass
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="price">
						<span class="price-current">$ 42.99</span>
					</div>
				</div>
			</li><!-- End Item #3 -->

			<li><!-- Item #4 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Modern Watch
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
					</div>
					<div class="price">
						<span class="price-current">$ 260.9</span>
					</div>
				</div>
			</li><!-- End Item #4 -->

			<li><!-- Item #5 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Camping Tent
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="price">
						<span class="price-current">$ 102.8</span>
					</div>
				</div>
			</li><!-- End Item #5 -->

			<li><!-- Item #6 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Motorcycle 200cc
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="price">
						<span class="price-before">$ 1,021.33</span>
						<span class="price-current">$ 965.12</span>
					</div>
				</div>
			</li><!-- End Item #6 -->

			<li><!-- Item #7 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Hairbands
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="price">
						<span class="price-before">$ 20.00</span>
						<span class="price-current">$ 18.5</span>
					</div>
				</div>
			</li><!-- End Item #7 -->

			<li><!-- Item #8 -->
				<div class="thumb">
					<a href="product.html">
						<img src="images/240x240.png" alt="">
					</a>
				</div>
				<div class="product-ctn">
					<div class="product-name">
						<a href="product.html">
							Black Blazer
						</a>
					</div>
					<div class="rating">
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star active"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="price">
						<span class="price-before">$ 178.23</span>
						<span class="price-current">$ 159.00</span>
					</div>
				</div>
			</li><!-- End Item #8 -->

		</ol>
		<!-- End Product List -->

		<div class="clear"></div><!-- Use this class (.clear) to clearing float -->

		<!-- Pagination -->
		<ul class="pagination">
			<li class="disabled"><a href="#!"><i class="fa fa-angle-double-left"></i></a></li>
			<li class="active"><a href="#!">1</a></li>
			<li class="waves-effect"><a href="#!">2</a></li>
			<li class="waves-effect"><a href="#!">3</a></li>
			<li class="waves-effect"><a href="#!">4</a></li>
			<li class="waves-effect"><a href="#!">5</a></li>
			<li class="waves-effect"><a href="#!"><i class="fa fa-angle-double-right"></i></a></li>
		</ul>
		<!-- End Pagination -->

	</div>
	<!-- END CONTENT CONTAINER -->
{{end}}