{{template "base" .}}
{{define "title"}}index{{end}}
{{define "body"}}
<div class="content-container animated fadeInUp">
{{.Response.Status}}<br>
{{.Response.ProductName}}<br>
{{.Response.Description}}<br>
{{.Response.CategoryName}}<br>
{{.Response.Filename}}
</div>
{{end}}