{{define "rightsidebar"}}
    <!-- RIGHT SIDEBAR -->
    <div id="slide-out-right" class="side-nav">

        <!-- TABS -->
        <div class="sidebar-tabs">
            
            <!-- Tabs Menu -->
            <ul class="tabs">
                <li class="tab"><a class="active" href="#yourcart">Your Cart</a></li>
                <!--<li class="tab"><a href="#latestblog">Latest blog</a></li>-->
            </ul>
            <!-- End Tabs Menu -->

        </div>

        <!-- Right Sidebar Tabs Content -->
        <div class="sidebar-tabs_content">
            
            <!-- Your Cart Tabs -->
            <div id="yourcart">
                
                <ol class="cart-item">
                    <li>
                        <div class="thumb">
                            <img src="../static/images/80x80.png" alt="">
                        </div>
                        <div class="cart-delete">
                            <a href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="cart-detail">
                            <h3 class="product-name"><a href="/product">Tablet Mini 2</a></h3>
                            <div class="price">
                                <span>Price</span> $ 472.5
                            </div>
                            <div class="qty">
                                <span>Qty</span> <input type="number" value="1">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="../static/images/80x80.png" alt="">
                        </div>
                        <div class="cart-delete">
                            <a href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="cart-detail">
                            <h3 class="product-name"><a href="/product">Modern Watch</a></h3>
                            <div class="price">
                                <span>Price</span> $ 260.9
                            </div>
                            <div class="qty">
                                <span>Qty</span> <input type="number" value="1">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img src="../static/images/80x80.png" alt="">
                        </div>
                        <div class="cart-delete">
                            <a href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="cart-detail">
                            <h3 class="product-name"><a href="/product">Camping Tent</a></h3>
                            <div class="price">
                                <span>Price</span> $ 102.8
                            </div>
                            <div class="qty">
                                <span>Qty</span> <input type="number" value="1">
                            </div>
                        </div>
                    </li>
                </ol>

                <div class="cart-action">
                    <div class="subtotal">
                        <span class="title">Subtotal</span>
                        <span class="price">$ 835.2</span>
                    </div>
                    <div class="subtotal">
                        <span class="title">Tax</span>
                        <span class="price">$ 4.0</span>
                    </div>
                    <div class="total">
                        <span class="title">Total</span>
                        <span class="price">$ 839.2</span>
                    </div>
                    <a href="#" class="btn green btn-block">Proceed to checkout</a>
                </div>

            </div>
            <!-- End Your Cart Tabs -->

            <!-- Latest Blog Tabs -->
           <!-- <div id="latestblog">
                
                <div class="latest-blog-featured">
                    <div class="thumb">
                        <img src="../static/images/500x400-white.jpg" alt="">
                    </div>
                    <span class="meta">05.10.2016 - Natalie Amyllia</span>
                    <h3 class="blog-title"><a href="#">End of year great discount at Rulimax</a></h3>
                    <p>Until we open the shop, we always loose and like nothing to win...</p>
                </div>

                <ol class="latest-blog">
                    <li>
                        <span class="meta">05.10.2016 - Natalie Amyllia</span>
                        <h3 class="blog-title"><a href="#">End of year great discount at Rulimax</a></h3>
                    </li>
                    <li>
                        <span class="meta">05.10.2016 - Natalie Amyllia</span>
                        <h3 class="blog-title"><a href="#">Happy Discount For All Our Customer</a></h3>
                    </li>
                    <li>
                        <span class="meta">05.10.2016 - Natalie Amyllia</span>
                        <h3 class="blog-title"><a href="#">Buy 1 Get 1 Free for all electronics product</a></h3>
                    </li>
                </ol>
            </div>-->
            <!-- End Latest Blog Tabs -->

        </div>
    <!-- End Right Sidebar Tabs Content -->
    </div>
    <!-- END RIGHT SIDEBAR -->
{{end}}