{{template "base" .}}
{{define "title"}}Styling Guide{{end}}
{{define "body"}}

	<!-- CONTENT CONTAINER -->
	<div class="content-container">

		<div class="content-article">

			<h1 class="entry-title page">Shortcodes</h1>

			<div class="entry-content">

			<h4>Dropcap</h4>
				<p><span class="dropcap">T</span>he indexes of the sting lagasia hoves kantrasaki jumalo subag, sim qoota rasudi ojo ngono sing ngarep kabeh nengkono ojo ngono.</p>
				<pre>&lt;span class="dropcap"&gt;<br>F&lt;/span&gt;irst character will be dropcap.</pre>
				<div class="line"></div>

				<h4>Text Highlighting</h4>
				<p>To use the highlight, you simply need to add a span with the class <span class="highlight">highlight.</span> This can be done in the Text editor view. You can see an example below:</p>
				<pre>&lt;span class="highlight"&gt;<br>This will be highlighted.<br>&lt;/span&gt;</pre>
				<div class="line"></div>

				<h4>Pull Quote</h4>
				<p>To use the pull quote, you simply need to add a class of <code>pull-right</code> or <code>pull-left</code> to your content. This can be done in the Text editor view. See an example below:
				<pre>&lt;span class="pull-right"&gt;<br>Pull this text right.<br>&lt;/span&gt;</pre>
				<p><span class="pull-right">This pull quote will be on the right side of the post.</span></p>
				<p>A pull quote (also known as a lift-out quote) is a quotation or excerpt from an article that is typically placed in a larger or distinctive typeface on the same page, serving to entice readers into an article or to highlight a key topic. The term is principally used in journalism and publishing.</p>
				<p><span class="pull-left">And this pull quote is pulling text to the left, like a boss.</span></p>
				<p>Pull quotes need not be a verbatim copy of the text being quoted; depending on a publication's house style pull quotes may be abbreviated for space and/or paraphrased for clarity, with or without indication.</p>
				<div class="line"></div>

			</div>

		</div>

	</div>
	<!-- END CONTENT CONTAINER -->
		
{{end}}