{{template "base" .}}
{{define "title"}}Styling Guide{{end}}
{{define "body"}}

	<!-- CONTENT CONTAINER -->
	<div class="content-container">

		<div class="content-article">

			<h1 class="entry-title page">Styling Guide</h1>
			
			<div class="entry-content">
				<h4>Heading</h4>
						
				<p>
					<h1>Heading One</h1>
					<h2>Heading Two</h2>
					<h3>Heading Three</h3>
					<h4>Heading Four</h4>
					<h5>Heading Five</h5>
					<h6>Heading Six</h6>
				</p>

				<div class="line"></div>

				<h4>List item styling</h4>
				<p>Unordered list item</p>
				<ul>
					<li>Unordered list item one</li>
					<li>Unordered list item two
					<li>Unordered list item three</li>
				</ul>
				<p>Ordered list item</p>
				<ol>
					<li>Ordered list item one</li>
					<li>Ordered list item two
					<li>Ordered list item three</li>
				</ol>

				<div class="line"></div>

				<h4>Blockquote</h4>

				<p>The blockquote is used to indicate the quotation of a large section of text from another source.</p>

				<blockquote>
					People who are the best is people who are being useful for others
					<cite>- Anonymous</cite>
				</blockquote>

				<h4>Code Formatting</h4>

				<p>Use tag <code>&lt;pre&gt;</code> to write your code.</p>
				<pre>.my-style {<br>display:none;<br>overflow:hidden;<br>}</pre>
				<div class="line"></div>

				<h4 class="margin-bottom">Table</h4>

				<h6>Table Standard</h6>
				<table>
					<thead>
						<tr>
							<th data-field="id">Name</th>
							<th data-field="name">Item Name</th>
							<th data-field="price">Item Price</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Alvin</td>
							<td>Eclair</td>
							<td>$0.87</td>
						</tr>
						<tr>
							<td>Alan</td>
							<td>Jellybean</td>
							<td>$3.76</td>
						</tr>
						<tr>
							<td>Jonathan</td>
							<td>Lollipop</td>
							<td>$7.00</td>
						</tr>
					</tbody>
				</table>

				<p>&nbsp;</p>

				<h6>Table Bordered</h6>
				<table class="bordered">
					<thead>
						<tr>
							<th data-field="id">Name</th>
							<th data-field="name">Item Name</th>
							<th data-field="price">Item Price</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Alvin</td>
							<td>Eclair</td>
							<td>$0.87</td>
						</tr>
						<tr>
							<td>Alan</td>
							<td>Jellybean</td>
							<td>$3.76</td>
						</tr>
						<tr>
							<td>Jonathan</td>
							<td>Lollipop</td>
							<td>$7.00</td>
						</tr>
					</tbody>
				</table>

				<p>&nbsp;</p>

				<h6>Striped Table</h6>
				<table class="striped">
					<thead>
						<tr>
							<th data-field="id">Name</th>
							<th data-field="name">Item Name</th>
							<th data-field="price">Item Price</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Alvin</td>
							<td>Eclair</td>
							<td>$0.87</td>
						</tr>
						<tr>
							<td>Alan</td>
							<td>Jellybean</td>
							<td>$3.76</td>
						</tr>
						<tr>
							<td>Jonathan</td>
							<td>Lollipop</td>
							<td>$7.00</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>
	<!-- END CONTENT CONTAINER -->
	
{{end}}